{% extends "base.html" %}

{% block title %}deportes{% endblock %}

{% load static %}

{% block content %}
            <section id="opengym">
                <div class="card shadow mb-4">
                    <div class="d-block card-header py-3">
                        <h6 class="m-0 font-weight-bold fs-3 text-danger">CARD - Ejercicios funcionales</h6>
                    </div>
                    <div class="card-body">
                        <!--Descripción-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold text-info
                                            text-uppercase mb-1 text-lg">Descripción
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold
                                                    text-gray-800 text-justify">El ejercicio en el gimnasio es una actividad física muy común que utiliza equipos y pesas para aumentar la fuerza,
                                                        la resistencia y el estado físico en general. Los individuos visitan el gimnasio con una variedad de metas, tales como adelgazar,
                                                        ganar masa muscular, mejorar la salud del corazón y tonificar el cuerpo.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Beneficios-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold text-primary text-lg
                                            text-uppercase mb-1">Beneficios
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold
                                                    text-gray-800">

                                                        <ul>
                                                            <li>Aumento de la fuerza muscular y tonificación corporal.</li>
                                                            <li>Mejora de la salud cardiovascular y la resistencia.</li>
                                                            <li>Quema de calorías y apoyo en la pérdida de peso.</li>
                                                            <li>Fortalecimiento de los huesos y mejora de la salud ósea.</li>
                                                            <li>Reducción del estrés y mejora del bienestar mental.</li>
</ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Instructor-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left text-lg font-weight-bold text-success
                                            text-uppercase mb-1">Instructor
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="card" style="width:70%">
                                                        <img class="card-img-top"  src="{% static 'img/card.jpg' %}" alt="Card image" style="width:50%">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Lcda. Estefanía González, Mgtr.</h4>
                                                          <h4 class="card-title">Lcda. Liliana Baque, Mgtr.</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Indumentaria-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left text-lg font-weight-bold text-dark
                                            text-uppercase mb-1">Indumentaria</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold
                                                    text-gray-800">
                                                        <ul>
                                                            <li>Ropa cómoda y de secado rápido: Como camisetas, pantalones cortos o leggings.</li>
                                                            <li>Calzado deportivo: Diseñado para ofrecer soporte y amortiguación durante las actividades físicas.</li>
                                                            <li>Guantes para levantamiento de pesas (opcional): Para proteger las manos durante los entrenamientos con pesas.</li>
                                                            <li>Toalla de gimnasio: Para secarse y mantener la limpieza en los equipos y máquinas.</li>
                                                            <li>Botella de agua: Esencial para mantenerse hidratado mientras se ejercita.</li>
</ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="natacion">
                <div class="card shadow mb-4">
                    <div class="d-block card-header py-3">
                        <h6 class="m-0 font-weight-bold fs-3 text-danger">Natación</h6>
                    </div>
                    <div class="card-body">
                        <!--Descripción-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold text-info
                                            text-uppercase mb-1 text-lg">Descripción
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold
                                                    text-gray-800 text-justify">La natación es un deporte acuático que involucra moverse a
                                                        través del agua utilizando brazadas y patadas. Puede practicarse en piscinas, aguas
                                                        abiertas u otros cuerpos de agua. La natación es valorada tanto como ejercicio recreativo
                                                        como deporte competitivo, proporcionando
                                                        notables beneficios para la salud y el bienestar.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Beneficios-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold text-primary text-lg
                                            text-uppercase mb-1">Beneficios
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold
                                                    text-gray-800">
                                                        <ul>
                                                            <li>Mejora del sistema respiratorio y capacidad pulmonar.</li>
                                                            <li>Fortalecimiento de la musculatura sin impacto en las articulaciones.</li>
                                                            <li>Promoción de la flexibilidad y la coordinación motriz.</li>
                                                            <li>Estimulación del sistema nervioso y mejora de la concentración.</li>
                                                            <li>Fomento del trabajo en equipo y la disciplina personal.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Instructor-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left text-lg font-weight-bold text-success
                                            text-uppercase mb-1">Instructor
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="card" style="width:70%">
                                                        <img class="card-img-top" src="{% static 'img/natacion.jpg' %} " alt="Card image" style="width:50%">
                                                        <div class="card-body">
                                                          <h4 class="card-title">Lcdo. Edgar Rosero, Mgtr.</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Indumentaria-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left text-lg font-weight-bold text-dark
                                            text-uppercase mb-1">Indumentaria</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold
                                                    text-gray-800">
                                                        <ul>
                                                            <li>Ropa adecuada para nadar: Diseñada para reducir la resistencia al agua y mejorar el rendimiento en el agua.</li>
                                                            <li>Gafas de natación: Para proteger los ojos del cloro y mejorar la visión bajo el agua.</li>
                                                            <li>Tapones para los oídos (opcional): Para evitar que entre agua en los oídos durante la natación.</li>
                                                            <li>Calzado para la piscina: Para caminar cómodamente alrededor de la piscina o en áreas húmedas.</li>
                                                            <li>Gorro de natación (opcional): Para proteger el cabello y mejorar la aerodinámica al nadar.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="basketball">
                <div class="card shadow mb-4">
                    <div class="d-block card-header py-3">
                        <h6 class="m-0 font-weight-bold fs-3 text-danger">Basketball</h6>
                    </div>
                    <div class="card-body">
                        <!--Descripción-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold text-info
                                            text-uppercase mb-1 text-lg">Descripción
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold
                                                    text-gray-800 text-justify">El baloncesto, también conocido como básquetbol,
                                                        es un deporte de equipo donde dos conjuntos compiten para encestar la pelota
                                                        en el aro del equipo contrario. Se juega en una cancha rectangular con un aro
                                                        en cada extremo. El objetivo principal es acumular puntos haciendo que la pelota
                                                        entre en la canasta del oponente, que está ubicada a diferentes alturas.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Beneficios-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold text-primary text-lg
                                            text-uppercase mb-1">Beneficios
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold
                                                    text-gray-800">
                                                        <ul>
                                                            <li>Mejora del control del cuerpo y la coordinación general.</li>
                                                            <li>Aumento de la capacidad cardiovascular y respiratoria.</li>
                                                            <li>Promoción de hábitos saludables y disciplina personal.</li>
                                                            <li>Desarrollo de la capacidad de reacción y la velocidad.</li>
                                                            <li>Fomento del espíritu competitivo y la perseverancia.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Instructor-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left text-lg font-weight-bold text-success
                                            text-uppercase mb-1">Instructor
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="card" style="width:70%">
                                                        <img class="card-img-top" src="{% static 'img/basq.jpg' %}" alt="Card image" style="width:50%">
                                                        <div class="card-body">
                                                          <h4 class="card-title">Lcda. Martha Salazar, Mgtr.</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Indumentaria-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left text-lg font-weight-bold text-dark
                                            text-uppercase mb-1">Indumentaria</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold
                                                    text-gray-800">
                                                       <ul>
                                                           <li>Jersey y pantalones cortos: Diseñados para mejorar la movilidad y la comodidad durante el juego.</li>
                                                           <li>Zapatillas específicas para baloncesto: Con soles que proporcionan tracción y estabilidad en la cancha.</li>
                                                           <li>Calcetines atléticos: Que cubren completamente el pie y ofrecen soporte adicional.</li>
                                                           <li>Accesorios protectores: Como coderas y rodilleras para prevenir lesiones.</li>
                                                           <li>Accesorios opcionales: Como muñequeras o mangas de compresión para mejorar el rendimiento.</li>
                                                       </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
 <section id="futbol">
                <div class="card shadow mb-4">
                    <div class="d-block card-header py-3">
                        <h6 class="m-0 font-weight-bold fs-3 text-danger">Fútbol</h6>
                    </div>
                    <div class="card-body">
                        <!--Descripción-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold text-info
                                            text-uppercase mb-1 text-lg">Descripción
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold
                                                    text-gray-800 text-justify">El fútbol es un deporte colectivo donde dos equipos de once
                                                        jugadores compiten por marcar goles al introducir la pelota en la portería del equipo
                                                        contrario. Se desarrolla en un campo rectangular con una portería en cada extremo..</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Beneficios-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold text-primary text-lg
                                            text-uppercase mb-1">Beneficios
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold
                                                    text-gray-800">
                                                       <ul>
                                                            <li>Mejora la coordinación motriz y la agilidad.</li>
                                                            <li>Aumenta la resistencia cardiovascular y la fuerza muscular.</li>
                                                            <li>Promueve la camaradería y el compañerismo entre los jugadores.</li>
                                                            <li>Desarrolla habilidades estratégicas y de toma de decisiones bajo presión.</li>
                                                            <li>Contribuye a mantener un peso corporal saludable y la salud ósea.</li>
                                                            <li>Estimula la creatividad y la habilidad para resolver problemas durante el juego.</li>
                                                            <li>Fomenta el respeto por las reglas y la deportividad.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Instructor-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left text-lg font-weight-bold text-success
                                            text-uppercase mb-1">Instructor
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="card" style="width:70%">
                                                        <img class="card-img-top" src="{% static 'img/fut.jpg' %}"
                                                             alt="Card image" style="width:50%">
                                                        <div class="card-body">
                                                          <h4 class="card-title">Lcdo. Luis Poma Barragan, Mgtr.</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Indumentaria-->
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left text-lg font-weight-bold text-dark
                                            text-uppercase mb-1">Indumentaria</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold
                                                    text-gray-800">
                                                     <ul>
                                                        <li>Camiseta: Preferiblemente de material transpirable y con mangas cortas o largas, dependiendo de las condiciones climáticas.</li>
                                                        <li>Pantalones cortos: Cómodos y resistentes, ideales para facilitar el movimiento.</li>
                                                        <li>Calcetines: Que cubran completamente la espinilla y se ajusten cómodamente.</li>
                                                        <li>Zapatos de fútbol: Con tacos para proporcionar tracción en el césped y suela diseñada para el tipo de superficie (césped natural o artificial).</li>
                                                        <li>Espinilleras: Para proteger la espinilla de impactos y lesiones.</li>
                                                        <li>Guantes (para porteros): Opcional, pero esencial para los porteros que deseen proteger sus manos.</li>
                                                        <li>Cinta para el cabello (opcional): Para aquellos con cabello largo, puede ser útil mantenerlo fuera del rostro durante el juego.</li>
                                                        <li>Protector bucal: Para proteger los dientes y la mandíbula durante los choques y golpes.</li>
                                                        <li>Toalla deportiva: Para secarse el sudor y mantenerse fresco durante los descansos.</li>
                                                        <li>Botiquín de primeros auxilios: Equipado con vendajes, desinfectantes y otros suministros médicos básicos.</li>
                                                    </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


      {% endblock %}