{% extends "base.html" %}

{% block title %}QuienesSomos - Coordinación Deportiva - UPSE{% endblock %}
{% load static %}
{% block content %}
<section>
                <h1 class="text-black-50 text-center">¿Quiénes Somos?</h1>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <img  src="{% static 'img/up9.jpg' %}" alt="Upse" width="100%">
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-md-left font-weight-bold text-primary text-lg
                                        text-uppercase mb-1">Coordinación Deportiva
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold
                                                text-gray-800 text-justify">
                                                <ul>
                                                    <li>La Coordinación de Deportes de la Universidad Estatal Peninsula de Santa Elena tiene como objetivo promover la salud, integración, respeto y sana convivencia a través del deporte como disciplina educativa.</li>
                                                    Funciones:
                                                    <li>a) Planificar, organizar, ejecutar, supervisar y evaluar las actividades deportivas de carácter interno y externo de los diferentes gremios estudiantiles y laborales.</li>
                                                    <li>b) Convocar a reuniones a los entrenadores de las diferentes disciplinas a fin de establecer actividades deportivas, planes de trabajo, eventos y programas.</li>
                                                    <li>c) Verificar el funcionamiento de la plataforma online para que los estudiantes, profesores y administrativos puedan reservar y acceder a las instalaciones deportivas.</li>
                                                    <li>d) Planificar los horarios de entrenamiento de las distintas disciplinas deportivas.</li>
                                                    <li>e) Viabilizar las solicitudes de recursos e implementos deportivos que formulan los entrenadores.</li>
                                                    <li>f) Gestionar los permisos académicos correspondientes para los estudiantes que participen en competencias deportivas nacionales e internacionales.</li>
                                                    <li>g) Gestionar la obtención de becas de apoyo al deporte y cultura física para deportistas destacados de acuerdo con el listado presentado por cada entrenador y velar que mantengan su asistencia y buen promedio.</li>
                                                    <li>h) Gestionar los financiamientos requeridos para la participación de los deportistas en las diferentes competencias y eventos deportivos.</li>
                                                    <li>i) Velar por el cumplimiento de las actividades deportivas programadas por los entrenadores de las diferentes disciplinas.</li>
                                                    <li>j) Presentar sugerencias pertinentes a la construcción, remodelación, mantenimiento y conservación de los espacios deportivos.</li>
                                                    <li>k) Elaborar el presupuesto anual de la coordinación de deportes y verificar la disponibilidad presupuestaria.</li>
                                                    <li>l) Administrar los escenarios deportivos en coordinación con la dirección administrativa.</li>
                                                    <li>m) Cuidar los implementos y escenarios deportivos, reportando cualquier anomalía para su respectivo mantenimiento.</li>
                                                    <li>n) Elaborar los instructivos para el uso y funcionamiento de los escenarios deportivos.</li>
                                                    <li>o) Elaborar informes periódicos de las actividades realizadas.</li>
                                                    <li>p) Presentar a las autoridades el informe anual de labores y los informes que le soliciten los organismos y autoridades superiores.</li>
                                                    <li>q) Mantener relaciones frecuentes con otras universidades, organismos oficiales, instituciones deportivas nacionales e internacionales, a fin de planificar, ejecutar, coordinar y asesorar lo relativo al área.</li>
                                                    <li>r) Administrar y evaluar convenios de su competencia.</li>
                                                    <li>s) Buscar y presentar alternativas de acción enfocadas al mejoramiento continuo del servicio que brinda.</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      <div class="col-lg-12 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <h2 class="text-md-left font-weight-bold text-primary text-lg text-uppercase mb-1">Horario de Atención</h2>
                <p>La Coordinación de Deportes presta sus servicios de lunes a viernes en doble jornada:</p>
                <ul>
                    <li>Primera jornada: de 08H00 AM a 12H00 PM.</li>
                    <li>Segunda jornada: de 13H00 PM a 17H00 PM.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <h2 class="text-md-left font-weight-bold text-primary text-lg text-uppercase mb-1">Datos de Contacto</h2>
                <p>Ing. Carlos Castillo Yagual, MIS<br>
                Coordinador de Deportes<br>
                Email: ccastilloy@upse.edu.ec<br>
                Teléfono: 0987838545</p>
            </div>
        </div>
    </div>
</section>



      {% endblock %}